@use "sass:color";

$color-accent: #f17755;

$color-accent-l: color.scale($color-accent, $lightness: -40%);

$bg-color-d: color.scale($color-accent, $lightness: -88%, $saturation: -76%);

$bg-color-l: color.scale($color-accent, $lightness: 90%, $saturation: -75%);

$bg-color-s-d: mix($color-accent, $bg-color-d, 15%);

.home {
  margin-bottom: 160px;

  small {
    margin-top: -1.5rem;
    display: block;
    font-size: 0.9rem;
    text-align: center;
  }

  h1 {
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;

    &:hover {
      transform: scale3d(1.15, 1.15, 1.25) rotate3d(0, 0, 1, 1deg) skewX(5deg);
      -webkit-transform: scale3d(1.15, 1.15, 1.25) rotate3d(0, 0, 1, 1deg)
        skewX(5deg);
      color: var(--color-accent);
    }

    small {
      font-size: 1.2rem;
      color: var(--color-text-secondary);
      display: block;
      margin-top: 0px;
    }
  }

  blockquote {
    background-color: transparent;
    padding: 1px 19px;

    p {
      color: var(--color-text-secondary);
      margin: 0;
      font-size: medium;
    }
  }

  p {
    font-size: 17px;
  }
}

main {
  max-width: 663px !important;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 10px;
}

.projects-special,
.git-special {
  background-color: var(--color-background-mute) !important;
}

.shining-effect {
  position: relative;
  display: inline-block;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      var(--color-border),
      transparent
    );
    transform: skewX(-20deg);
    animation: shining 3s linear infinite;

    @media print {
      display: none;
    }

    @media (prefers-color-scheme: light) {
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.5),
        transparent
      );
    }
  }

  @keyframes shining {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
}

.small table {
  width: max-content !important;
}

.socials-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 4fr));
  gap: 10px;
}

.socials,
.git,
.projects {
  background-color: var(--color-background-second);
  color: var(--color-text);
  text-decoration: none;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }

  h3 {
    margin: 0px;
    font-weight: 800;
    letter-spacing: 0 !important;
    font-size: 20px;
  }

  p {
    margin: 0px;
    color: var(--color-text-secondary);
    font-weight: 500;
  }
}

.git-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 4fr));
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .projects-container,
  .socials-container,
  .git-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 682px) {
  nav ul li a {
    white-space: nowrap;
  }

  .home h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 338px) {
  nav ul {
    width: 100%;
    overflow-y: auto;
  }
}

.h1-nav {
  margin-right: 35px !important;
}

body {
  font-family: "Inter", sans-serif !important;
}

/* Other */


a mark {
  text-decoration: underline;
  display: inline-block;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

blockquote {
  border-radius: 8px 25px 25px 8px !important;
}

footer {
  max-width: 663px !important;
}
